<style>
    body { background-color: #14B76E; color: #fff}
    
  </style>
<h1>Formulario de contacto</h1>

<div class="alert alert-success">
    Su mensaje ha sido recibido con éxito. Pronto estaremos en contacto.
</div>

<h1 class="display-4">Hola @ViewData["Mensaje"] @ViewData["param1"]</h1>